body {
  font-family: sans-serif;
  background-color: #222;
  color: white;
  text-align: left;
  margin-top: 100px;
}

button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.canvas-container {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 5px; 
}

button:hover {
  background-color: #666;
} 