body {
  font-family: sans-serif;
  background-color: #222;
  color: white;
  text-align: center;
  margin-top: 100px;
}

button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background-color: #666;
} 